body {
    background-color: #202124;
}

#pokemon-name {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#pokemon-image-div {
    max-height: 475px;
    padding: 10px 10px 10px 10px;
}

#pokemon-image {
    width: 100%;
    max-width: 475px;
}

.center {
    text-align: center;
}

#heading {
    color: #ffffff;
    font-size: 2em;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

#pokemon-logo {
    height: 1em;
}

#next-pokemon {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #9f41ff;
    background-color: #9f41ff;
    transition: all 0.5s ease-in-out;
    color: #202124;
}

#next-pokemon:hover {
    border: 2px solid #9f41ff;
    background-color: transparent;
    color: #9f41ff;
}

#next-pokemon-text {
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}
